@import 'src/app/app.component.scss';
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.header{
    background-color: $primary-color;
    border-bottom: 1px solid $tertiary-color;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    color: $color-white;

    &-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        h3{
            font-weight: 600;
            margin-left: 10px;
            font-size: 1.3rem;
            font-family: 'Cabin', sans-serif;
        }
    }
    &-input{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            width: 90%;
            height: 100%;
            border: none;
            border-bottom-left-radius: 12px;
            border-top-left-radius: 12px;
            color: $color-white;
            padding: 10px;
            outline: none;
            font-size: 1rem;
            background-color: $quaternary-color;
        }
        button{
            width: 10%;
            height: 100%;
            border: 2px solid $color-orange;
            border-bottom-right-radius: 12px;
            border-top-right-radius: 12px;
            color: $color-white;
            padding: 10px;
            background-color: $color-orange;
            outline: none;
            font-size: .8rem;
            cursor: pointer;
        }
    }
    &-actions{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            margin-right: 20px;
            @include btn($color-blue, $color-white);
        }
    }
}