<header class="header">
    <div class="header-logo">
        <img src="https://www.redditinc.com/assets/images/site/reddit-logo.png" alt="Logo" width="30">
        <h3>Redd<span class="color-orange">i</span>tt</h3>
    </div>
    <div class="header-input">
        <input type="text" placeholder="Search">
        <button><i class="bi bi-search"></i></button>
    </div>
    <div class="header-actions">
        <button class="btn-blue" (click)="openModal()" *ngIf="!currentUser">Login</button>
        <p><img [src]="currentUser.photoURL" width="20">
        <span *ngIf="currentUser">{{ currentUser.displayName }}</span>
        </p>
    </div>
</header>