@import 'src/app/app.component.scss';

.container{
    background-color: $primary-color;
    border: 1px solid $tertiary-color;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;   
    a{
        color: $color-blue;
    }
    button{
        position: absolute;
        right: 20px;
        background-color: transparent;
        border: none;
        color: $color-white;
        font-size: 20px;
        cursor: pointer;
        font-weight:bold;
    }
}