<div class="sidebar">
    <div class="sidebar-links">
        <h5>Feeds</h5>
        <a><i class="bi bi-house-door"></i>Principal</a>
        <a><i class="bi bi-bezier2"></i>Popular</a>
        <h5>Topics</h5>
        <a><i class="bi bi-controller"></i>Gaming</a>
        <a><i class="bi bi-hypnotize"></i>Sport</a>
        <a><i class="bi bi-bar-chart-line"></i>Bussines</a>
        <a><i class="bi bi-currency-bitcoin"></i>Crypto</a>
        <a><i class="bi bi-tv"></i>Television</a>
        <a><i class="bi bi-star"></i>Celebrity</a>
        <a><i class="bi bi-reception-0"></i>More Topics</a>
    </div>
    <div class="sidebar-logout">
        <p>Create an account to follow your favorite communities and start participating in the conversations.</p>
        <button class="btn" (click)="openModal()">Join Redit</button>
    </div>
</div>